<div class="col-md-4 col md-offset-4">
  <h2>编辑专题</h2>
  <hr>
  <%= form_for @group do |f| %>
  名称
  <%= f.text_field :title %>
  <br>
  描述
  <br>
  <%= f.text_area :description %>
  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  <% end %>
</div>
